*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    height: 80px;
}
header>img{
    width: 70px;
    padding-left: 10px;
}
.text{
    font-size: 30px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    width: 1600px;
}
.text>a:hover{
     color: white;
     background-color: #6DBAE0;
     border-radius: 15px;
     padding-left: 10px;
     padding-right: 10px;
 }
.text>a{
    text-decoration: none;
    color: black;
    transition:all .5s;
}
.container-1{
    background:  linear-gradient(-0.38deg, rgb(109, 186, 224) -44.241%,rgba(255, 255, 255, 0) 97.632%);
    display: flex;
    flex-direction: row;
    gap: 400px;
    align-items: center;
}
#big-logo{
    width: 510px;
    padding-top: 15px;
}
.text2{
    font-size: 42px;
    width:900px;
    padding-left: 30px;
}
.container-2{
    box-shadow:inset 0 16px 14px 1px rgba(0, 0, 0, 0.14);
    background-color: #ffffff;
}
.cont-2Text{
    font-size: 30px;
    padding-top: 70px;
    padding-left: 30px;
}
.clouds{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container-3{
    z-index: 1;
    background-color: #6DBAE0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.howWork{
    text-align: center;
    font-size: 42px;
    color: white;
}
.text3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 130px;
    text-align: center;
    padding-left: 60px;
}
.text3>p{
    font-size: 20px;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;gap: 400px;
}
.icons>img{
    width: 10%;
}
.container-4{
    display: flex;
    flex-direction: row;
    font-size: 42px;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.container-4>a{
    text-decoration: none;
    color: black;
}
#page2{
    transition:all .5s;
}
#page2:hover{
    color: #00801d;
}
footer{
    display: flex;
    flex-direction: row;
    background-color:#6DBAE0 ;
    gap:200px;
    font-size: 20px;
    justify-content: center;
}